<div class="text-2xl text-center mt-4">Todo List</div>

<div class="flex flex-col justify-center">

  <div class="
  flex justify-center
  w-[95%] sm:w-[50%]
  mt-4 mx-auto
  ">
    <input type="text" class="
    transition-all duration-200
    focus:ring-4
    ring-green-500 outline-none rounded-l-md
    pl-2
    border-2 border-gray-300
    w-[100%] h-[35px]
    "
      [(ngModel)]="newTodo">
    <button class="text-2xl  hover:bg-green-500 inline-block ml-0 bg-green-700 h-[35px] px-4  text-white rounded-r-md"
      (click)="createTodo()">
      <i class="fa-regular fa-square-plus"></i>
    </button>
  </div>


<div class="
flex flex-col justify-center
w-[95%] sm:w-[50%]
mx-auto mt-10
">

  <table class="table-auto">

    <tr class="odd:bg-gray-300"
    app-item
    *ngFor="let todo of todos; let i=index;"
    [todo]="todo" [i]="i" (remove)="removeTodo(i)"></tr>

  </table>
</div>
